<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
{{>header}}
<h1>ABOUT HBS</h1>
<img src="/images/profile.png">
{{>footer}}
</body>
</html>