<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="/css/style.css">

    </head>
<body>
{{>header}}
<div class="main-content">
<form>
    <input placeholder="City">
    <button>Search</button>
</form>
Temperature: <p id="temperature"></p>
Precipitation: <p id="precip"></p>
</div>



{{>footer}}

<script src="/js/validation.js"></script>
</body>
</html>